extends layout

block content
  
  section.login-form-wrapper
    div.overlay.form-overlay
    form(method='post', action='/admin/login').admin-form.container
      h1.heading.large-text.center.login-heading Hikerr Portal
      label(for='username').form-label Username 
        span.red *
      div.form-field
        input(type='text', name='username').form-input#username
        span.input-focus
      label(for='password').form-label Password 
        span.red *
      div.form-field
        input(type='password',name='password').form-input#password
        span.input-focus
      div.form-field
          a(href='/').form-forgot Back to Hikerr.com ?
      if loginError
        span.form-error.red * Invalid Username or Password
      input(type='submit', value='Login').form-input.form-btn
