head
  title=data.title
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='icon' href='/assets/images/logo.ico')
  link(rel='stylesheet', href='/stylesheets/fonts.css')
  link(rel='stylesheet', href='/assets/icons/fontawesome/css/all.min.css')  
  link(rel='stylesheet', href='/stylesheets/framework.css')
  link(rel='stylesheet', href='/stylesheets/admin.css')
