div.scroll-wrapper
  div(onclick='scrollUp()').arrow-wrapper.arrow-dark
    div.arrow.arrow-up
  div(onclick='scrollDown()').arrow-wrapper.arrow-dark
    div.arrow.arrow-down
header.nav-container(data-color=data.navColor)
  div.top-nav
    figure.logo-container
      a(href='/').logo.medium-text H.
        //img(src='/images/logo.png', alt='logo').logo
    div.bars-container(onclick='toggleNavigation()')
        span.bar-middle
    nav.nav-links-container.preload
      ul.nav-links-generic
        li
          a(href='/', onclick='toggleNavigation()') Home
        li
          a(href='/#ds', onclick='toggleNavigation()') Destinations
        li
          a(href='/#ts', onclick='toggleNavigation()') Trip Styles
        li
          a(href='/#ut', onclick='toggleNavigation()') Upcoming Trips
        li
          a(href='/#about', onclick='toggleNavigation()') About
        li
          a(href='/careers', onclick='toggleNavigation()') Careers
        li
          div.flag-wrapper.phone-flag
            span.flag-phone Contact Us
              div.flag-dropdown
                span.flag-email hiker@mail.com
                span.flag-number +92 344 2617246
            img(src='/assets/images/flag.png').flag
      ul.nav-links-social
        li
          a(href='https://www.facebook.com/hikerrtravel')
            i(class='fab fa-facebook')
        li
          a(href='#')
            i(class='fab fa-twitter')
        li
          a(href='#')
            i(class='fab fa-instagram')
    a(href='#' onclick='toggleSearchBar()')
      i.fa.fa-search.search-icon  
    div.flag-wrapper.laptop-flag
      span.flag-phone Contact Us
        div.flag-dropdown
          span.flag-email hiker@mail.com
          span.flag-number +92 344 2617246
      img(src='/assets/images/flag.png').flag
div.search-container
  div.search-interface.container
    input(type='text' placeholder='Search...' oninput='updateSearchResults()').search-field
    div(onclick='toggleSearchBar()').search-cross
  div.search-results.container
    ul.search-list
      li.search-list-item
        a(href='#')
          span.link-heading No results yet :(
          ul.link-tags
            li.link-tag #Tour
            li.link-tag #Destination
            li.link-tag #Blog
