extends layout

block content
  section.container.blog-container
    header.blog-header
      h1.blog-heading=data.blog.title
      span.blog-writer #{data.blog.author}
      span.blog-writer #{data.blog.readTime} minutes read
    article.blog-content
      -paras = data.blog.content.split('\r');
      each para in paras
        p.blog-para=para
