extends layout

block content
  
  div.ds-global-wrapper
    div.careers-wrapper.content.container
      header
        h1.center.heading.large-text Contact Us
      div.careers
        ul.careers-list
          li.career-list-item
            div.career-spec
              p.career-spec-heading Email
              p.career-spec-caption hiker@mail.com
            div.career-spec
              p.career-spec-heading Phone
              p.career-spec-caption +92 344 2617246
            div.career-spec
              p.career-caption='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
