doctype html
html
  include components/head.pug
  body
    include components/navigation.pug
    main
      block content
    include components/footer.pug
    script(type='text/javascript', src='/javascripts/main.js')
