doctype html
html(lang='en', dir='ltr')
  include components/head.pug
  body.preload
    include components/navigation.pug
    main
      block content
    include components/footer.pug
    script(type='text/javascript', src='/javascripts/main.js')
